.App {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.Solde{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.TableSolde{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.TableHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.TableHistoryHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

